endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

##### MYSQL #####
set mysql_connection_string "server=localhost;uid=root;password=;database=fxserver;charset=utf8mb4_danish_ci;sslmode=none"
set es_enableCustomData 1 

##################################################################################################################

#// DEFAULT \\#
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure rconlog

#// ESSENTIAL \\#
ensure mysql-async
ensure esplugin_mysql
ensure essentialmode
ensure async
ensure es_extended
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list

#// DEPENDENCE \\#
ensure esx_base
ensure esx_basicneeds
ensure esx_status
ensure esx_identity
ensure esx_skin
ensure skinchanger

##################################################################################################################

#// SCRIPT INTERNE \\#
sv_scriptHookAllowed 0

#// TAGS \\#
sets tags "default"

#// LOCAL \\#
sets locale "fr-FR" 

#// SERVER NAME \\
sv_hostname "TemplateAirDev"
sets sv_projectName "TemplateAirDev"
sets sv_projectDesc "https://discord.gg/YcuCQEaKFD"

#// LOGO \\#
#load_server_icon logo.png

#// DEV \\#
set temp_convar "Nzo"

#// ADMIN \\#
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:1 group.admin
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.essentialmode command.add_principal allow

#// ONESYNC \\#
set onesync_enabled true
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync on

#// SLOTS \\#
sv_maxclients 48

#// KEYS \\#
set steam_webApiKey "00000000000000000000000000000000"
sv_licenseKey replace
